#!/usr/bin/make -f
# -*- makefile -*-

export PATH:=/usr/lib/go-1.11/bin:${PATH}

binary: binary-arch binary-indep

binary-arch: build-arch
	go build ./cmd/loki

binary-indep: build-indep

build: build-arch build-indep

build-arch:
	go get -d ./... || true

build-indep:

clean:
	make clean
